
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-wrapper">

						<!-- 폼 태그 -->
						<form action="/find" method="post" id="findForm">
							<div class="login-screen">
								<div class="login-body pb-4">
									<a href="index.html" class="login-logo">
										<img src="img/logo.svg" alt="Quick Chat">
									</a>
									<h6>비밀번호를 찾으시려면 귀하의 계정 이메일을 입력하십시오.</h6>
									<div class="field-wrapper mb-3">
										<input type="email" id="email" name="email" autofocus>
										<div class="field-placeholder">Email ID</div>
									</div>
									<div class="actions">
										<button type="submit" class="btn btn-primary ml-auto">Submit</button>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
