
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-wrapper">

						<!-- 폼 태그 -->
						<form action="/signup" method="post" id="signupForm">
							<div class="login-screen">
								<div class="login-body">
									<a href="index.html" class="login-logo">
										<img src="img/logo.svg" alt="Quick Chat">
									</a>
									<h6>Quick Chat App에 오신것을 환영합니다,<br>새로운 계정을 만드세요.</h6>
									<div class="field-wrapper">
										<input type="email" name="email" id="email" autofocus>
										<div class="field-placeholder">Email ID</div>
									</div>
									<div class="field-wrapper">
										<input type="password" name="password" id="password">
										<div class="field-placeholder">Password</div>
									</div>
									<div class="field-wrapper mb-3">
										<input type="password" id="confirmPassword">    
										<div class="field-placeholder">Confirm Password</div>
									</div>
									<div class="field-wrapper mb-3">
										<input type="text" name="name" id="name">    
										<div class="field-placeholder">name</div>
									</div>
									<div class="actions">
										<button type="submit" class="btn btn-primary ml-auto">Sign Up</button>
									</div>
								</div>
								<div class="login-footer">
									<span class="additional-link">Have an account? <a href="/login" class="btn btn-secondary">Login</a></span>
								</div>
							</div>
						</form>
					</div>
				</div>


<script>

	// 페이지가 로드 되는 시점 
	$(document).ready(function(){
		$("#email").focus();
	});


	// id : 클라이언트 name : 서버 
	//서비밋 이벤트가 발생하면  {} 함수 실행하라 
	// 유효성 검사 
	$("#signupForm").submit(function(){

		// value 값 가져오기 -> 값이 비워있이면 -> alert 실행 
		// focus를 email에 두기 
		// 결과는 Fales 
		if($("#email").val() ==""){
			alert("메일주소를 입력해주세요.");
			$("#email").focus();
			return false;
		}
		if($("#password").val() ==""){
			alert("암호를 입력해주세요.");
			$("#password").focus();
			return false;
		}
		if($("#confirmPassword").val() ==""){
			alert("암호를 재확인 해주세요.");
			$("#confirmPassword").focus();
			return false;
		}

		// value 값 가져오기 -> 값이 다르면 -> alert 실행 
		// 값 비우기 
		// focus를 password에 두기 
		// 결과는 Fales 
		if($("#password").val() != $("#confirmPassword").val()){
			alert("암호값이 일치하지 않습니다.");
			$("#password").val("");
			$("#confirmPassword").val("");
			$("#password").focus();
			return false;
		}

		return true;
	});

</script>		
