<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입|약관동의</title>
</head>
<body>
    <h1>약관동의</h1>
    <h3>환영합니다! <br/>
        무신사에 가입하시려면 <br/>
        약관에 동의해 주세요.
    </h3>

    <ul>약관 전체 동의하기(선택 동의 포함)
        <li>[필수] 만 14세 이상입니다.</li>
        <li>[필수] 무신사, 무신사 스토어 이용약관 </li>
        <li>[필수] 개인정보 수집 및 이용 동의 </li>
        <li>[선택] 광고성 정보 수신 동의</li>
        <li>[선택] 개인정보 수집 및 이용 동의</li>
    </ul> 

    <form action="/member/entry" method="get">
        <input type="submit" value="동의하고 회원가입하기" />
    </form>
    

</body>
</html>