<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원가입 페이지입니다.</h1>

    <form action="/entry" method="post">
        id<input type="text" name="id" /> <br/>
        password<input type="password" name="password" /> <br/>
        email<input type="email" name="email" /> <br/>
        telephone<input type="number" name="telephone" /> <br/>
        <input type="submit" value="확인" >
    </form>
</body>
</html>