<!DOCTYPE html>
<html>
  <head>
    <title>공통페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>공통페이지</h1>
    
    <a href="/login">로그인</a> <br/>
    <a href="/entry">회원가입</a> <br/>
    <a href="/find">암호찾기</a> 
  </body>
</html>
