<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅 메시지 이력 신규 목록 페이지</title>
</head>
<body>
    <h1>채팅 메시지 이력 신규 목록 페이지</h1>

    <form action="/message/create" method="post">
        <input type="submit" value="저장" />
    </form>

</body>
</html>